<form>

  <div nxLayout="grid">
    <div nxRow>

      <div nxCol="12,12,12,4">

        <nx-formfield nxLabel="ISBN">
           <input nxInput>
           <nx-error nxFormfieldError>
            <strong>Please note:</strong> this field requires at least 3 characters!
          </nx-error>
        </nx-formfield>

      </div>

      <div nxCol="12,12,12,4">

        <nx-formfield nxLabel="Title">
           <input nxInput>
           <nx-error nxFormfieldError>
            <strong>Please note:</strong> this field requires at least 3 characters!
          </nx-error>
        </nx-formfield>

      </div>

      <div nxCol="12,12,12,4">

        <nx-number-stepper
          nxLabel="Rating"
          nxSize="small"
          [nxStep]="1"
          [nxMin]="1"
          [nxMax]="5"
          [leadingZero]="false"
        ></nx-number-stepper>

      </div>

    </div>
    <div nxRow>

      <div nxCol="12">

        <nx-formfield nxLabel="Description">
          <textarea rows="4" nxInput type="text"></textarea>
        </nx-formfield>

      </div>

    </div>
    <div nxRow>

        <div nxCol="12">
          <button nxButton type="submit">Create</button>
        </div>

      </div>
  </div>

</form>
