/* You can add global styles to this file, and also import other style files */
// @import '@angular-schule/workshop-styles/index';

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}