<nx-card *ngIf="book">

  <img class="thumbnail" src="//api.angular.schule/avatar/{{ book.rating }}">

  <nx-card-header>
    <h3 nxHeadline="subsection-small">
      {{ book.title }}
    </h3>
  </nx-card-header>

  <p nxCopytext="small" class="nx-margin-top-xs">
    {{ book.isbn }}
  </p>

  <p nxCopytext class="nx-margin-top-s">
    {{ book.description }}
  </p>

  <p nxHeadline="subsection-small" class="nx-margin-top-s nx-margin-bottom-xs">{{ book.rating }}</p>

  <button nxIconButton="secondary small" class="nx-margin-3xs" type="button" (click)="doRateDown()">-1</button>
  <button nxIconButton="primary small" class="nx-margin-3xs" type="button" (click)="doRateUp()">+1</button>

</nx-card>